
.supply-order-item {
    display: flex;
    flex-direction: row;
}

.supply-label {
    margin: 0.5rem;
    padding: 0.25rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

.sup-id {
    color: rgb(63, 63, 63);
    background-color: rgb(207, 207, 207);
    border-radius: 1.5rem;
}


.sup-count {
    background-color: rgb(160, 122, 212);
    color: black;
    border-radius: 1.5rem;
    justify-content: center;
}